<style>
  #event-timeline{
    display: none;
}
</style>
<script src="/js/jquery.min.js"></script>
<form action="/advertise" method="post">
  <input type="checkbox" name="SMS" value="sms"> SMS<br>
  <input type="checkbox" name="Email" value="email" > Email<br>
  
  <hr>

  <h3>Department:</h3>
  <input type="checkbox" name="dept" value="CSE"> CSE<br>
  <input type="checkbox" name="dept" value="IT" > IT<br>
  <input type="checkbox" name="dept" value="ECE"> ECE<br>
  <input type="checkbox" name="dept" value="CIVIL" > CIVIL<br>

    <hr>

  <h3>Year:</h3>
  <input type="checkbox" name="year" value="I"> I<br>
  <input type="checkbox" name="year" value="II" > II<br>
  <input type="checkbox" name="year" value="III"> III<br>
  <input type="checkbox" name="year" value="IV" > IV<br>

  <br>

   <label for="sel1"  >Select Event:</label>
      <select class="form-control" id="selectBox" name="selectPicker">
      </select>

    <hr>

  <input class="btn btn-primary" type="submit" value="Advertise">
</form>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
  var eventName = '{{eventName}}';
  eventName = eventName.split(',');
  //console.log('EventName:: ',eventName[0]);

  eventName.forEach(function(e){
     $("#selectBox").append('<option value="'+e+'">'+e+'</option>');
  });
 
</script>