<style>
  .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

  #poster{
      max-width: 180px;
      max-height: 180px
  }
  
  .dashboard{
      width: 100%;
      height: 1000px;
  }
.d{
    font-family: 'Noto Serif', serif;
}

#event-timeline{
    display: none;
}
</style>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<div class="dashboard">
 <h2 class="d page-header">Dashboard</h2>
<p class="d">Welcome to your dashboard</p> 

<a class="btn btn-primary" role="button" href="/advertise">Advertise Event </a>
<button class="btn btn-primary" id="teamReg">Register Partipants</button>
<button class="btn btn-primary" id="createEvent">+ Create Event</button>

<div id="teamSizeContainer"></div>
<div id="eventContainer"></div>
<div id="adContainer"></div>
</div>
</body>
<script>
    $("#createEvent").click(function(){
        $("#eventContainer").html("<form method='post' action='/events/createEvent' enctype='multipart/form-data'> <div class='form-group'> <label for='eventName'>Event Name:</label> <input type='text' class='form-control' name='eventName' id='eventName'></div>  <div class='form-group'> <label for='description'>Description:</label> <textarea name='description' rows='10' cols='30' class='form-control' id='description'></textarea><div> <div class='form-group' > <input type='file' onchange='readURL(this)' name='poster' for='poster'/> <img id='poster' onclick='sr(this.src)'></div> <div class='form-group'> <label for='eventDate'> Event Date: </label> <input type='date' name='eventDate' id='eventDate' class='form-control'></div> <div class='form-group'> <label for='mobno'>Mobile No: </label> <input type='number' name='mobileNo' id='mobno' class='form-control'> </div> <div class='form-group'><label for='email'>Email ID: </label> <input type='email' name='emailId' id='email' class='form-control'> </div> <div class='form-group'><label for='price'>Price: </label> <input type='number' placeholder='Rs.' name='price' id='price' class='form-control'> </div><button type='submit' class='btn btn-success'>Publish</button></form>");
    });

    $("#teamReg").click(function(){
        $("#teamSizeContainer").html('<hr><label for="teamSize">Team Size: </label><input type="number" name="teamSize" id="teamSize" class="form-control"> <br><button type="submit" onclick="redirect()" class="btn btn-success">Proceed</button>'); 
    });

    function redirect(){
        var size = $("input[name=teamSize]").val();
        window.location.replace("/teamReg?size="+size);
    }

    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#poster')
                        .attr('src', e.target.result);
                };
               reader.readAsDataURL(input.files[0]);
            }
        }
    
    
    function sr(sou){
        console.log('src: ',sou);
    }


</script> 