<style>
  #event-timeline{
    display: none;
}
</style>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="/js/jquery.min.js"></script>
<form action="/regPart" method="post" id="eveForm" class="form-group">
  <h2>Team Register</h2>
  
  <hr>
    <h3>Participant 1:</h3>
  <label for="rollno">Roll no. : </label>  
  <input type="text" name="rollno" id="rollno" class="form-control"> 

  <br><br>

  <label for="contact">Contact Number: </label>
  <input type="number" id="contact" class="form-control">

  <hr>
    <span id="teamMates"></span>
  <br>
  <label for="sel1">Select Event:</label>
      <select class="form-control" name="eventSelect" id="selectBox">
      </select>  
  <hr>  
  <input class="btn btn-primary" type="submit" value="Submit">

</form>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
 var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};

$(document).ready(function(){
         var n = getUrlParameter('size') || 1;
        for(var i=2; i <= n; i++){
          $('<h3>Participant: '+i+'</h3><label for="rollno" >Roll no. : </label><input type="text" name="rollno" id="rollno" class="form-control"><br><br><label for="contact">Contact Number: </label><input type="number" id="contact" class="form-control">').appendTo('#teamMates');
       }
});


  var eventName = '{{eventName}}';
  eventName = eventName.split(',');
  //console.log('EventName:: ',eventName[0]);

  eventName.forEach(function(e){
     $("#selectBox").append('<option value="'+e+'">'+e+'</option>');
  });

  
</script>